<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/entities/</directory>
            <directory>src/services/</directory>
            <directory>src/traits/</directory>
            <directory>src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="tests/logs/clover.xml"/>
        <log type="coverage-clover" target="tests/logs/coverage.clover"/>
    </logging>
</phpunit>